/* ==UserStyle==
@name        Roll20 Macrobar Stylus Enhancement
@namespace   kinchj
@version     1.0.0
@homepageURL https://github.com/kinchj/Roll20Stylus
@author      kinchj
lastupdate:  2021-03-06
==/UserStyle== */

/* SECTION BREAK SECTION BREAK */
/* ALL PLAYERS OPTIONS */
/* MACRO BAR - Thinner Macrobar */
#macrobar .macrobox {
    margin-right: 7px
}
#macrobar div.macrobox:hover {
    padding-right: 7px;
    margin-right: 0px;  
}
.macrobox .btn, .macrobox .btn.btn-default {
    padding-left: 6px;
    padding-right: 4px;    
}
