/* ==UserStyle==
@name        Roll20 Sidebar Stylus Enhancement
@namespace   kinchj
@version     1.0.0
@homepageURL https://github.com/kinchj/Roll20Stylus
@author      kinchj
lastupdate:  2021-03-06
==/UserStyle== */

/* SECTION BREAK SECTION BREAK */
/* PLAYERS OPTIONS */
/* SIDEBAR MENU - Hide Toolbar Buttons */
#floatingtoolbar {
		position: fixed;
		top: 25px !important; 
		left: 8px !important;
} /* Move Toolbar Down */

#fxtools {
  display: none !important;
}
#zoompanel {
  display: none !important;
}
#diceroller {
  display: none !important;
}
#helpsite {
  display: none !important;
}
