/* ==UserStyle==
@name        Roll20 Token Action Bar Stylus Enhancement
@namespace   kinchj
@version     1.0.0
@homepageURL https://github.com/kinchj/Roll20Stylus
@author      kinchj
lastupdate:  2021-03-06
==/UserStyle== */

/* SECTION BREAK SECTION BREAK */
/* ALL PLAYERS OPTIONS */
/* TOKEN BAR - Color Token Action Buttons */
.btn[data-macroid="-M4MqKQpTCRs8I6I65Rh|-M84RmvHP_7CfVnFDBd0"] {
    color:#FFFFFF !important;
    background-color:#077707 !important;
    background-image:none !important;
} /* ⏱️ */
/*
.btn[data-macroid="-M7YiSUD9rhnHKmKmBnY|-MPAeXEmqQQhba9Qh2Gu"] {
    color:#FFFFFF !important;
    background-color:#000000 !important; 
    background-image:none !important;
} /* 🎯 */
.btn[data-macroid="-M4MqKQpTCRs8I6I65Rh|-MAkr8ayaP4_1H9k9mQm"] {
    color:#FFFFFF !important;
    background-color:#773311 !important;
    background-image:none !important;
} /* 🎲  */
/*
.btn[data-macroid="-M7YiSUD9rhnHKmKmBnY|-MPAeXEjQdv3CvUqQegQ"] {
    color:#FFFFFF !important;
    background-color:#000000 !important; 
    background-image:none !important;
} /* 💬 */
/*
.btn[data-macroid="-M7YiSUD9rhnHKmKmBnY|-MQTwErunl5xb0M1YtxF"] {
    color:#FFFFFF !important;
    background-color:#000000 !important; 
    background-image:none !important;
} /* 📅 */
.btn[data-macroid="-M4MqKQpTCRs8I6I65Rh|-MAkfUS5RjrBvImGOgy_"] {
    color:#000000 !important;
    background-color:#000000 !important;
    background-image:none !important;
} /* 📋  */
.btn[data-macroid="-M4MqKQpTCRs8I6I65Rh|-MC7t6PSLWlJrBbH_-tT"] {
    color:#FFFFFF !important;
    background-color:#DD0000 !important;
    background-image:none !important;
} /* 🔚 */
.btn[data-macroid="-M4MqKQpTCRs8I6I65Rh|-MQLGNh4_efiWuFXfi1F"] {
    color:#000000 !important;
    background-color:#39D !important;
    background-image:none !important;
} /* 🚪 */
/*
.btn[data-macroid="-M7YiSUD9rhnHKmKmBnY|-MPAeXEkulSrXdpZwW0I"] {
    color:#FFFFFF !important;
    background-color:#000000 !important; 
    background-image:none !important;
} /* 🤫 */


/* SECTION BREAK SECTION BREAK */
/* ALL PLAYERS OPTIONS */
/* TOKEN BAR - Compact Token Action ToolBar */
#secondary-toolbar {
    position: fixed;
	top: 165px !important; 
	left: 8px !important;
    width: 32px;
    box-shadow: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.44) !important;
}
#secondary-toolbar .tokenactions .btn, .btn.btn-default {
    display: flex;
    align-items: center;
    padding: 0px 3px 0px 3px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-right: 1px;
}
#secondary-toolbar li {
    border-right: 0px;
}
